<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <meta name="description" content="Attico Studio conoce nuestros servicios de arquitectura y diseño de interiores">
    <meta name="keywords" content="PROYECTO, REMODELACIÓN, MUEBLES, DECORACIÓN, SERVICIOS">
    <title>Servicios atticostudio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body>

<!--Menu-->

<header>
    <div class="container">
        <div class="row">
         <nav class="navbar navbar-expand-lg navbar-light">
             <div class="container-fluid">
               <a class="navbar-brand" href="../index.html"><img src="../img/LogoAtticoMorado.svg" width="165px" alt=""></a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                 <ul class="navbar-nav">
                   <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="./servicios.html">Servicios</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="./proyectos.html">Proyectos</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="./nosotros.html">Nosotros</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="./blog.html">Blog</a>
                   </li>
             
                   <li class="nav-item">
                     <a class="nav-link" href="./views/contacto.html">Contacto</a>
                   </li>
                 </ul>
               </div>
             </div>
           </nav>
        </div>
    </div>
    
 </header>

<!--Servicios Primer Sección-->

<section class="container-fluid">

  <h1 class="tituloServicios">Servicios</h1>

</section>


<section class="container-fluid sectionUnoServicios">

 <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 sectionTextoSer mt-1">
      <h2 class="mb-3">Qué hacemos</h2>
      <p>Somos un <span>equipo multidisciplinario</span> capaz de abarcar distintas competencias. Tenemos una visión global desde la <span>arquitectura en conjunto con diseñadores</span> para obtener un resultado integral.</p>
    </div>
  </div>
</section>


<!--Descripción 4 Servicios -->


<section class="container sectionDosSer">

    <h2 class="sectionDosServicios__title">Nuestros Servicios</h2>

    <div class="row g-4">
      
      <div class="col-lg-6 col-md-6 col-xs-12 serviciosCenter">
        <div class="card shadow" style="width: 18rem;">
          <img src="../img/ServicioProyecto1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Proyecto</h2>
            <p class="card-text">Puedes solicitar la asesoría para la realización de tu nueva obra o renovación del hogar, es decir, la construcción de varios espacios. Dentro de este servicio ofrecemos distintas visitas e instancias de maqueta y visualización de render. </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12 serviciosCenter">
        <div class="card shadow"  style="width: 18rem;">
          <img src="../img/ServicioRemodelación1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Remodelación</h2>
            <p class="card-text">Si no quieres partir de cero, puedes solicitar la renovación de una habitación, como cocina, baño, terraza, lo que tu requieras. Dentro de este servicio ofrecemos 3 visitas y diferentes render para visualizar el resultado de tu obra.</p>
          </div>
        </div>
      </div>

      <div class="col serviciosCenter">
        <div class="card shadow" style="width: 18rem;">
          <img src="../img/ServicioMuebles1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Muebles</h2>
            <p class="card-text">Como estudio también contamos un taller de carpintería para realizar los muebles que requieran los proyectos grandes. Pero también realizamos muebles a pedido, para clientes que requieren muebles únicos</p>
          </div>
        </div>
      </div>

      <div class="col serviciosCenter">
        <div class="card shadow" style="width: 18rem;">
          <img src="../img/ServicioDecoración1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Decoración</h2>
            <p class="card-text">Si solo requieres la asesoría para decorar tu hogar, nosotros te ayudamos buscando los muebles, revestimientos y adornos más exclusivos y a buen precio del mercado.</p>
          </div>
        </div>
      </div>
    </div>
</section>



<!--Footer-->
    
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-md-left">
  
      <!-- Grid row -->
      <div class="row">
   
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-5 mb-1">
  
        <a href="./index.html"><img src="../img/LogoAtticoWhite.svg" width="210px" alt=""></a>
  
        </div>
    
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        
        <div class="col-xs-12 col-md-4 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">
  
            <h5>Contacto</h5>

            <ul class="list-unstyled">
              <li>
                <p>
                  Rosario Norte, 588, Las Condes, Chile. 
                </p>
              </li>
              <li>
                <p>
                  contacto@atticostudio.cl
                </p>
              </li>
              <li>
                <p>
                  + 56 9 12345678
                </p>
              </li>
            
            </ul>
    
          </div>
          
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5>Redes Sociales</h5>
  
          <!-- Facebook -->
          <a type="button" class="btn-floating btn-fb">
            <i class="fab fa-facebook-f"><img src="../img/facebook.svg" width="30px"alt=""></i>
          </a>
          <!-- Instagram -->
          <a type="button" class="btn-floating btn-tw">
            <i class="fab fa-twitter"><img src="../img/instagram.svg" width="30px"alt=""></i>
          </a>
          <!-- Linkedin -->
          <a type="button" class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-g"><img src="../img/linkedin.svg" width="30px" alt=""></i>
          </a>
        
  
        </div>
      
  
      </div>
     
  
    </div>
   
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © Todos los derechos reservados, 2021.
    </div>
    
  
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>