


/*Blog*/

.secUnoBlog {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.secBlogTexto {
    margin-top: 30px;
}

.colMarginBlog {
    margin-top: 20px;
}

.secDosBlog {
    margin-bottom: 30px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}