


/*Blog*/

.secUnoBlog {
    margin-top: 30px;
    padding: 20px 70px 20px;
    border: 5px;
}

.secUnoBlog__texto {
    margin-top: 30px;
}

.colMarginBlog {
    margin-top: 20px;
}

.secDosBlog {
    margin-bottom: 30px;
}