


/*Contacto*/

.sectionBodyContacto{
    margin-top: 80px;
    padding: 50px 70px 20px;
    border: 5px;
}

.secUnoContacto {
    margin-top: 20px;
    height: auto;
    width: 100%;
}

.secFormulario { 
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 20px 70px 20px;
   display: flex;
   justify-content: space-around;
}


