


/*Contacto*/

.secUnoContacto {
    margin-top: 30px;
    height: 500px;
}

.secUnoBodyContacto{
    margin-top: -20px;
    height: 500px;
    padding: 50px 70px 20px;
    border: 5px;
    width: 600px;
}

.secUnoBodyContacto__texto {
    margin-top: 20px;
    width: 500px;
}

.secContacto {
    height: 100px;
    padding: 20px 70px 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}



.secContacto__texto {
    margin-top: 20px;
}

.secFormulario { 
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 20px 70px 20px;
   display: flex;
   justify-content: space-around;
}


