


/*Contacto*/

.secUnoContacto{
    height: 500px;
    padding: 20px 70px 20px;
    margin-top: 30px;
    background-image: url("../../img/conP.png");
}

.secUnoContacto__texto {
    width: 500px;
    margin-top: 30px;
}

.secContacto {
    height: 100px;
    padding: 20px 70px 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.secContacto__texto {
    margin-top: 20px;
}

.secFormulario { 
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 20px 70px 20px;
}