


/* Estilos Section Servicios*/

.sectionUno {
    width: 100%;
    margin-top: 30px;
    background-image: url('/img/index.png');
    height: 500px;
    
    span {
        font-weight: 400;
        font-size: 20px;
    }
}

.sectionDos { 
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    background-color: #F3F3F3;
    height: 350px;
}

.textoSecDos {
    margin-top: 40px;
    width: 400px;

    span {
        font-weight: 500;
    }
}

.sectionDosServicios {
    margin-top: 50px;
}

.serviciosCenter {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.textoSerHome {
    margin-top: 50px;
    padding: 10px;
}

.tranSerTex {
    color:#3F3F3F;
    transition: all .3s;
}

.tranSerTex h2:hover {
    color:#B393C1;
}

.marginSerHome {
    margin-bottom: 20px;
}

.tranScaleBoton a:hover {
    transform: scale(1.1);
    transition: all .3s ;
    
} 

/* Estilos Section Proyectos */

.sectionTresPro {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.sectionTresTitle {
    margin-bottom: 50px;
}

/* Estilos Section Blog */

.sectionCuatro {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.sectionCuatroTitle {
    margin-bottom: 50px;
}

.card-body  {

    p {
        font-size: 12pt;
    }
  
}

.cardColor {
    background-color: #F3F3F3;
}

.cardCenter {
    display: flex;
    justify-content: center;
}

