


/* Estilos Index Principal */

.sectionUnoCard {
    margin-top: 30px;
    height: auto;
    width: 100%;
}

.sectionUnoBody{
    margin-top: -20px;
    padding: 50px 70px 20px;
    border: 5px;
}

.sectionUno__title {
    margin-top: -20px;
}

.sectionUnoCard__texto {
    margin-top: 30px;
    height: auto;

    p {
        font-weight: 400;
    }
}

/* Estilos Section Servicios*/

.sectionDos { 
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #F3F3F3;
    height: 350px;
}

.sectionDos__textoQuehacemos {
    margin-top: 40px;
    width: 400px;
    height: 500px;

    span {
        font-weight: 500;
    }
}

.tranHora {
    background-color: #513D59;
    transition: all .3s;
}

.tranHora div a:hover {
    background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
}

.agendaHora {

    a {
        background-color: #513D59;
        color:white;
        height: 60px;
        width: 500px;
        font-size: 20pt;
        margin-top: 20px;
        padding: 10px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
  
}

.sectionDosServicios {
    padding: 50px 20px 20px;
    margin-top: 30px;
}


.serviciosCenter {
    display: flex;
    justify-content: space-around;
}

.textoSerHome {
    margin-top: 50px;
    padding: 10px;
}

.tranSerTex {
    color:#3F3F3F;
    transition: all .3s;
}

.tranSerTex h2:hover {
    color:#B393C1;
}

.marginSerHome {
    margin-bottom: 20px;
}

.tranScaleBoton a:hover {
    transform: scale(1.1);
    transition: all .3s ;
    
} 

/* Estilos Section Proyectos */

.sectionTresPro {
    padding: 20px 70px 20px;
    margin-top: 30px;

    h2 {
        margin-bottom: 30px;
    }
}

.marginProHome {
    margin-bottom: 20px;
}

/* Estilos Section Blog */

.sectionCuatro {
    padding-bottom: 20px;
    margin-top: 30px;
} 

.sectionCuatro__title {
    padding-bottom: 30px;
}

.card-body  {

    p {
        font-size: 12pt;
    }
  
}

.cardColor {
    background-color: #F3F3F3;
}

.cardCenter {
    display: flex;
    justify-content: center;
}

