


/*Servicios*/

.tituloServicios { 
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.secUnoServicios {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #F3F3F3;
    height: 250px;
}

.secTextoServicios {
    width: 400px;
}

.secTextoServicios span {
    font-weight: 500;
}

.sectionDosSer {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.sectionDosSerTitle {
    margin-bottom: 30px;
    margin-top: 30px;
}