


/*Servicios*/

.tituloServicios { 
    height: 100px;
    padding: 20px 70px 20px;
    margin-top: 30px;
}

.sectionUnoServicios {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: #F3F3F3;
    height: 250px;
}

.sectionTextoSer {
    margin-left: 40px;
    width: 400px;
}

.sectionTextoSer span {
    font-weight: 500;
}


.sectionDosSer {
    margin-top: 40px;
    margin-bottom: 30px;
}

.sectionDosServicios__title {
    margin-bottom: 30px;
}

.col__textoSer {
    margin-top: 55px;
    padding: 10px;

}

.colMarginSer {
    margin-bottom: 20px;
}