


/*Servicios*/

.tituloServicios { 
    height: 100px;
    padding: 20px 70px 20px;
    margin-top: 30px;
}

.sectionUnoServicios {
    height: 300px;
    padding: 20px 70px 20px;
    background-color: #F3F3F3;   
}

.row__textoServicios {
    margin-top: 50px;
}

.sectionDosServicios {
    margin-top: -20px;
    margin-bottom: 30px;
}

.sectionDosServicios__title {
    margin-bottom: 30px;
}

.col__textoSer {
    margin-top: 55px;
    padding: 10px;

}

.colMarginSer {
    margin-bottom: 20px;
}