/* Estilos Genericos */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2D2D2D; }

h1 {
  color: #513D59;
  font-size: 3rem;
  font-weight: 600; }

h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #3F3F3F; }

h3 {
  font-size: 1,1rem;
  font-weight: 500;
  color: #3F3F3F; }

h4 {
  font-size: 1,1rem;
  font-weight: 400;
  color: #3F3F3F; }

p {
  font-size: 13pt;
  font-weight: 300;
  text-align: left; }

li {
  font-size: 14pt;
  font-weight: 300;
  list-style: none;
  color: white; }

a {
  text-decoration: none; }

/* Estilos Index Principal */
.sectionUno {
  margin-top: 30px;
  height: 500px;
  padding: 50px 70px 20px;
  border: 5px;
  background-image: url("../../img/SillaIndex.png"); }

.sectionUno__texJumbo {
  width: 600px; }

.jumbotron__title {
  margin-top: -20px; }

.jumbotron__texto {
  margin-top: 30px; }

/* Estilos Section Servicios*/
.sectionDos {
  margin-top: 30px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
  height: 350px; }

.sectionDos__textoQuehacemos {
  width: 500px;
  height: 500px; }

.tranHora {
  background-color: #513D59;
  transition: all .3s; }

.tranHora div a:hover {
  background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%); }

.agendaHora a {
  background-color: #513D59;
  color: white;
  height: 60px;
  width: 500px;
  font-size: 20pt;
  margin-top: 20px;
  padding: 10px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-decoration: none; }

.sectionDosServicios {
  padding: 50px 20px 20px;
  margin-top: 30px; }

.serviciosCenter {
  display: flex;
  justify-content: space-around; }

.textoSerHome {
  margin-top: 50px;
  padding: 10px; }

.tranSerTex {
  color: #3F3F3F;
  transition: all .3s; }

.tranSerTex h2:hover {
  color: #B393C1; }

.marginSerHome {
  margin-bottom: 20px; }

.tranScaleBoton a:hover {
  transform: scale(1.1);
  transition: all .3s; }

/* Estilos Section Proyectos */
.sectionTresPro {
  padding: 20px 70px 20px;
  margin-top: 30px; }
  .sectionTresPro h2 {
    margin-bottom: 30px; }

.marginProHome {
  margin-bottom: 20px; }

/* Estilos Section Blog */
.sectionCuatro {
  padding-bottom: 20px;
  margin-top: 30px; }

.sectionCuatro__title {
  padding-bottom: 30px; }

.card-body p {
  font-size: 12pt; }

.cardColor {
  background-color: #F3F3F3; }

/*Servicios*/
.tituloServicios {
  height: 100px;
  padding: 20px 70px 20px;
  margin-top: 30px; }

.sectionUnoServicios {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
  height: 300px; }

.row__textoServicios {
  margin-top: 50px;
  width: 600px; }

.sectionDosSer {
  margin-top: 40px;
  margin-bottom: 30px; }

.sectionDosServicios__title {
  margin-bottom: 30px; }

.col__textoSer {
  margin-top: 55px;
  padding: 10px; }

.colMarginSer {
  margin-bottom: 20px; }

/*Proyectos*/
.tituloProyectos {
  height: 100px;
  padding: 20px 70px 20px;
  margin-top: 30px; }

.tranScalePro img:hover {
  transform: scale(2);
  transition: all .3s; }

.secColorProyectos {
  padding: 20px 70px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #F3F3F3;
  height: 200px; }

.marginImgPro {
  margin-bottom: 20px; }

/*Nosotros*/
.tituloNosotros {
  height: 100px;
  padding: 20px 70px 20px;
  margin-top: 30px; }

.secUnoNosotros {
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
  height: 300px; }

.secUnoNosotros__texto {
  margin-top: 50px;
  width: 600px; }

.secEquipo {
  margin-top: 30px;
  padding: 20px 70px 20px;
  border: 5px; }

.secEquipo__title {
  margin-bottom: 30px; }

.texEquipo {
  width: 200px;
  margin-top: 10px;
  margin-left: 30px; }

.card {
  border: none; }

.centerEquipo {
  display: flex;
  justify-content: space-around; }

/*BEM Desafio Aplicar Sass en una section si estilos*/
.sectionCreciendo {
  background-color: #F3F3F3;
  height: 300px;
  margin-top: 30px;
  padding: 20px 70px 20px;
  border: 5px;
  margin-bottom: 30px; }

.col-12__titleCreciendo {
  margin-bottom: 30px; }

.col-12__parrafoCreciendo {
  width: 700px;
  margin-left: 200px;
  margin-top: 10px; }

.col__textoCreciendo {
  margin-top: 20px;
  font-size: 15pt;
  font-weight: 700; }

/*Blog*/
.secUnoBlog {
  margin-top: 30px;
  padding: 20px 70px 20px;
  border: 5px; }

.secUnoBlog__texto {
  margin-top: 30px; }

.colMarginBlog {
  margin-top: 20px; }

.secDosBlog {
  margin-bottom: 30px; }

/*Contacto*/
.secUnoContacto {
  height: 500px;
  padding: 20px 70px 20px;
  margin-top: 30px;
  background-image: url("../../img/conP.png"); }

.secUnoContacto__texto {
  width: 500px;
  margin-top: 30px; }

.secContacto {
  height: 100px;
  padding: 20px 70px 20px;
  margin-top: 30px;
  margin-bottom: 100px; }

.secContacto__texto {
  margin-top: 20px; }

.secFormulario {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 70px 20px; }

/* Estilos Footer */
footer {
  background-color: #2D2D2D;
  color: white; }

footer h5 {
  font-size: 14pt;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none; }

footer li {
  color: white; }

.errorBack {
  background-color: #F3F3F3; }

.errorContenedor {
  margin-top: 100px; }

.errorTitle {
  font-size: 80pt;
  color: #3F3F3F;
  font-weight: 700;
  display: flex;
  justify-content: center; }

.errorTexto {
  font-size: 16pt;
  color: #3F3F3F;
  font-weight: 500;
  display: flex;
  justify-content: center; }
