@charset "UTF-8";
/* Estilos Section Servicios - Index*/
.sectionUno {
  width: 100%;
  margin-top: 10px;
  background-image: url("../../img/indexprincipal.png");
  height: 500px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.sectionDos {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  background-color: #F3F3F3;
  height: 350px; }

.textoSecDos {
  margin-top: 40px;
  width: 400px; }
  .textoSecDos span {
    font-weight: 500; }

.sectionDosServicios {
  margin-top: 50px; }

.serviciosCenter {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around; }

.textoSerHome {
  margin-top: 50px;
  padding: 10px; }

.tranSerTex {
  color: #3F3F3F;
  transition: all .3s; }

.tranSerTex h2:hover {
  color: #B393C1; }

.marginSerHome {
  margin-bottom: 20px; }

.tranScaleBoton a:hover {
  transform: scale(1.1);
  transition: all .3s; }

/* Estilos Section Proyectos */
.sectionTresPro {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

.sectionTresTitle {
  margin-bottom: 50px; }

/* Estilos Section Blog */
.sectionCuatro {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

.sectionCuatroTitle {
  margin-bottom: 50px; }

.card-body p {
  font-size: 12pt; }

.cardColor {
  background-color: #F3F3F3; }

.cardCenter {
  display: flex;
  justify-content: center; }

/*Servicios*/
.tituloServicios {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px; }

.secUnoServicios {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F3F3F3;
  height: 280px; }

.secTextoServicios {
  margin-top: 20px;
  width: 400px; }

.sectionDosSer {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  margin-bottom: 30px; }

.sectionDosSerTitle {
  margin-bottom: 40px;
  margin-top: 40px; }

/*Proyectos*/
.tituloProyectos {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 30px; }

.marginImgPro {
  margin-bottom: 20px;
  padding-bottom: 20px; }

/*Efecto Galería*/
.grid {
  width: 300px;
  margin: auto;
  position: relative;
  list-style: none;
  text-align: center; }

.grid figure {
  position: relative;
  overflow: hidden;
  min-width: 300px;
  max-height: 500px;
  background: #e2e2e2;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(167, 167, 167, 0.4); }

.grid figure img {
  position: relative;
  display: block; }

.grid figure figcaption {
  padding: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  font-style: none; }

.grid figure h3 {
  text-transform: none;
  font-size: 15pt;
  font-weight: 500; }

.grid figure h3 span {
  font-weight: 300;
  font-style: none; }

.grid figure h3,
.grid figure p {
  margin: 0; }

.grid figure p {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 68.5%; }

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0); }

figure.effect-sadie h3 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0); }

figure.effect-sadie:hover h3 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0); }

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*Nosotros*/
.tituloNosotros {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px; }

.secUnoNosotros {
  background-color: #F3F3F3;
  height: 280px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.secTextoNosotros {
  width: 400px;
  margin-top: 20px; }

.secEquipo {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.secEquipoTitle {
  margin-bottom: 40px;
  margin-top: 40px; }

.texEquipo {
  width: 200px;
  margin-top: 10px;
  margin-left: 30px; }

.card {
  border: none; }

.centerEquipo {
  display: flex;
  justify-content: space-around; }

/*Efecto GrayScale Equipo*/
.column#grayscale img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.column#grayscale:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

/*Blog*/
.secUnoBlog {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }

.secBlogTexto {
  margin-top: 30px; }

.colMarginBlog {
  margin-top: 20px; }

.secDosBlog {
  margin-bottom: 30px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

/*Contacto*/
.sectionUnoContacto {
  width: 100%;
  margin-top: 10px;
  background-image: url("../../img/contactoprincipal.png");
  height: 500px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

/* Tipografías */
body {
  font-family: Poppins;
  color: #2D2D2D; }

h1 {
  color: #4AA8A7;
  font-size: 3em;
  font-weight: 600; }

h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #3F3F3F; }

h3 {
  font-size: 1,1rem;
  font-weight: 400;
  color: #3F3F3F; }

h4 {
  font-size: 0,5rem;
  font-weight: 400;
  color: #3F3F3F; }

p {
  font-size: 12pt;
  font-weight: 300;
  text-align: left; }

li {
  font-size: 14pt;
  font-weight: 300;
  list-style: none;
  color: white; }

a {
  text-decoration: none; }

span {
  font-weight: 500; }

/* Estilos Footer */
footer {
  background-color: #2D2D2D;
  color: white; }

footer h5 {
  font-size: 14pt;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none; }

footer li {
  color: white; }

/* Página Error*/
.errorBack {
  background-color: #F3F3F3; }

.errorContenedor {
  margin-top: 100px; }

.errorTitle {
  font-size: 80pt;
  color: #3F3F3F;
  font-weight: 700;
  display: flex;
  justify-content: center; }

.errorTexto {
  font-size: 16pt;
  color: #3F3F3F;
  font-weight: 500;
  display: flex;
  justify-content: center; }
